<header>
  <div class="row">
    <div class="col-md-3">
      <a href="tel:1-800-222-5555"><i aria-hidden="true" class="fa fa-phone"></i><span><b>1-800-222-5555</b></span></a>
      <a href="mailto:info@jasminmcdonough.com"><i aria-hidden="true" class="fa fa-envelope-o"></i><span>info@jasminmcdonough.com</span></a>
    </div>
    <div class="col-md-6">
      <h1>Jasmin McDonough</h1>
      <p>REAL ESTATE BROKER</p>
    </div>
    <div class="col-md-3 text-right">
      <p>Agency Logo</p>
    </div>
  </div>
</header>