<footer>
  <div class="row">
    <div class="col-xs-12">
      <section>
        <div>
          Jasmin McDonough
        </div>
        <div>
          123 Sample Street, Midtown, NY 110110
        </div>
        <div>
          <a href="tel:212.555.4444">O: 212.555.4444</a> | <a href="tel:212.555.8888">M:212.555.8888</a>
        </div>
        <div>
          <a href="mailto:info@jasminmcdonough.com">info@jasminmcdonough.com</a>
        </div>
        <div class="text-right">
          <i aria-hidden="true" class="fa fa-facebook"></i> <i aria-hidden="true" class="fa fa-twitter"></i> <i aria-hidden="true" class="fa fa-linkedin"></i> <i aria-hidden="true" class="fa fa-google-plus"></i>
        </div>
      </section>
      <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought.<br></p>
      <p>Copyright 2015<br>
      Gregor then turned to look out the window at the dull weather. Drops</p>
    </div>
  </div>
</footer>