<div class="row">
  <div class="col-xs-12">
    <h2>My Closed Transactions</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <select [ngModel]="selectedValue" (change)="onSortItems($event.target.value)">
      <option *ngFor="let item of selectedItems" value={{item.value}}>{{item.label}}</option>
    </select>
  </div>
</div>
<hr>
<div class="row property" *ngFor="let property of properties; let i = index" (click)="onOpenModal(i)">
  <div class="col-md-2 col-xs-6">
    <img src="{{property.image}}" class="img-responsive">
  </div>
  <div class="col-md-3 col-xs-6">
    <p *ngIf="property.address2">{{property.address2}}</p>
    <p>{{property.address1}}</p>
    <p *ngIf="!property.address2">{{property.area}}</p>
    <p [ngClass]="property.signed? 'contract-signed' : 'contract-unsigned'">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      {{property.signed? "Contract Signed" : "Contract Unsigned"}}
    </p>
  </div>
  <span class="clearfix"></span>
  <div class="col-md-1 col-xs-4">
    <p *ngIf="property.studio">Studio</p>
    <p *ngIf="!property.studio">{{property.rooms + " bed"}}{{property.rooms >= 2 ? "s" : ""}}</p>
    <p>{{property.baths + " bath"}}{{property.baths >= 2 ? "s" : ""}}</p>
  </div>
  <div class="col-md-3 col-xs-4">
    <p><b>{{property.priceForSale | currency:'USD':true:'1.0-0'}}</b></p>
    <p>{{property.pricePerSf | currency:'USD':true:'1.0-0'}} /SF</p>
  </div>
  <div class="col-md-3 col-xs-4">
    <p>{{property.area | uppercase}}<p>
  </div>
  <hr>
</div>
<ret-transaction-modal></ret-transaction-modal>