<nav class="row">
  <ul class="col-xs-12">
    <li class="nav-item"><a routerLink="/home" routerLinkActive="active-link">HOME</a></li>
    <li class="nav-item"><a routerLink="/lazy" routerLinkActive="active-link">MY EXCLUSIVES</a></li>
    <li class="nav-item"><a routerLink="/closed-transaction" routerLinkActive="active-link">CLOSED TRANSACTIONS</a></li>
    <li class="nav-item"><a routerLink="/lazy" routerLinkActive="active-link">SEARCH</a></li>
    <li class="nav-item"><a routerLink="/lazy" routerLinkActive="active-link">ABOUT</a></li>
    <li class="nav-item"><a routerLink="/lazy" routerLinkActive="active-link">PRESS</a></li>
    <li class="nav-item"><a routerLink="/lazy" routerLinkActive="active-link">TESTIMONIALS</a></li>
    <li class="client-login">
      <a routerLink="/lazy">
        <i class="fa fa-key" aria-hidden="true"></i>
        Client Log In
      </a>
    </li>
  </ul>
</nav>